*{
    font-family:'Times New Roman', Times, serif;
}
#message-form{
    padding: 10% 20%;
    height: 40%;
}
#message-form legend{
    font-size: 2.5rem;
    padding: 0% 2%;
    border: 1px solid #2f7b92;
    background-color: rgba(93,123,134, 0.2);
    border-radius: 5px;
}
fieldset{
    border-radius: 5px;
    border: 2px solid #2f7b92;
    margin-bottom: 5%;
    background-color: rgba(93,123,134, 0.2);
}
#message-form #name, #message-form textarea, #message-form #email{
    display: block;
    width: 100%;
    font-size: 1.2rem;
    box-sizing: border-box;
    margin-bottom: 5%;
    border-radius: 5px;
    border: 1px solid #2f7b92;
}

#message-form #submit{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #2f7b92;
    padding: 2% 5% ;
    font-size: 1rem;
    font-weight: bold;
    background-color: #2f7b92;
    color:white;
    border-radius: 5px;
    margin-bottom: -15%;
    cursor: pointer;
}
#message-form #submit:hover{
    scale:120%;
    transition: 0.4s ease-in-out;

}
#contact h3,  #contact h2{
    text-align: center;
    display: inline-block;
}
#contact-outside{
    display: flex;
    justify-content: center;
}
#contact-outside a{
    color: #2f7b92;
    border: 2px solid #2f7b92;
    border-radius: 50%;
    width: 2%;
    text-align: center;
    padding: 1%;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 2%;
}
#contact-outside a:hover{
    background-color: #2f7b92;
    color: white;
    transition: 0.3s ease-in-out;
    scale: 120%;
}

@media only screen and (max-width: 780px){
    #message-form{
        padding: 5%;
    }
    #contact-outside a{
        font-size: 1rem;
        width: 5%;
    }
    #message-form legend{
        font-size: 1.2rem;
    }
    #message-form #submit{
        margin-bottom: 0%;
    }
}